# Environnement local (PostgreSQL)
DATABASE_URL="postgresql://postgres:password@localhost:5432/sgr_unikin"

# NextAuth.js
NEXTAUTH_SECRET="dev-secret-change-in-production"
NEXTAUTH_URL="http://localhost:3000"
